<form [formGroup]="profileForm" (submit)='addArticle()' class="text-center offset-2 col-8" style="color: #757575;">

  <div class="form-group">
    <div class="col">
      <!-- Nom de produit -->
      <div >
        <label for="materialRegisterFormFirstName">Nom de produit</label>
        <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="nomArticle"
        [ngClass]="{'is-valid': submitted && !profileForm.controls.nomArticle.errors ,'is-invalid': submitted && profileForm.controls.nomArticle.errors}">
        <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.nomArticle.hasError('required')">Vérifiez votre saisie</div>
      </div>
    </div>
    <div class="col">
      <!-- description -->
      <div >
        <label for="materialRegisterFormLastName">Description</label>
        <input type="text" id="materialRegisterFormLastName" class="form-control" formControlName="descriptionArticle"
        [ngClass]="{'is-valid': submitted && !profileForm.controls.descriptionArticle.errors ,'is-invalid': submitted && profileForm.controls.descriptionArticle.errors}">
        <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.descriptionArticle.hasError('required')">Vérifiez votre saisie
        </div>
             </div>
    </div>
  </div>

  <!-- quantity -->
  <div >
    <label for="materialRegisterFormEmail">Quantite</label>
    <input type="number" id="materialRegisterFormEmail" class="form-control" formControlName="quantityArticle"
    [ngClass]="{'is-valid': submitted && !profileForm.controls.quantityArticle.errors ,'is-invalid': submitted && profileForm.controls.quantityArticle.errors}">
    <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.quantityArticle.hasError('required')">Vérifiez votre saisie</div>
     </div>

  <!-- prix -->
  <div >
    <label for="materialRegisterFormPassword">Prix</label>
    <input type="number" id="materialRegisterFormPassword" class="form-control" formControlName="prixArticle" aria-describedby="materialRegisterFormPasswordHelpBlock"
    [ngClass]="{'is-valid': submitted && !profileForm.controls.prixArticle.errors ,'is-invalid': submitted && profileForm.controls.prixArticle.errors}">
    <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.prixArticle.hasError('required')">Vérifiez votre saisie</div>

  </div>


  <!-- Save button -->
  <button type="submit" class="btn btn-info" >Save</button>

</form>
