<form [formGroup]="profileForm"  class="text-center offset-2 col-8" style="color: #757575;">
    <div class="form-group">
    <div class="col">
      <!-- Nom de produit -->
      <div class="form-control">
        <label for="materialRegisterFormFirstName">Nom de produit</label>
        <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="nomArticle">
        <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.nomArticle.hasError('required')">Vérifiez votre saisie</div>
      </div>
    </div>
    <div class="col">
      <!-- description -->
      <div >
        <label for="materialRegisterFormLastName">Description</label>
        <input type="text" id="materialRegisterFormLastName" class="form-control" formControlName="descriptionArticle" >
        <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.descriptionArticle.hasError('required')">Vérifiez votre saisie
        </div>
             </div>
    </div>
  </div>

  <!-- quantity -->
  <div class="form-control">
    <label for="materialRegisterFormEmail">Quantite</label>
    <input id="materialRegisterFormEmail" class="form-control" formControlName="quantityArticle" >
    <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.quantityArticle.hasError('required')">Vérifiez votre saisie</div>
     </div>

  <!-- prix -->
  <div class="form-control">
    <label for="materialRegisterFormPassword">Prix</label>
    <input id="materialRegisterFormPassword" class="form-control" formControlName="prixArticle" aria-describedby="materialRegisterFormPasswordHelpBlock">
    <div class="invalid-feedback d-block" *ngIf="submitted && profileForm.controls.prixArticle.hasError('required')">Vérifiez votre saisie</div>

  </div>


  <!-- Save button -->
  <button type="submit"  [disabled]="profileForm.invalid" (click)='updateProduct()' class="btn btn-info">Save</button>

</form>
