<form class="text-center" style="color: #757575;">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="selectedPartner" autocomplete="off" placeholder="&#61442;  Start searching for a Product by id ....">
</div>
<table class="table table-hover table-striped position-absolute">
  <caption>List of Products</caption>
  <thead>
    <tr class="table-info">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Discription</th>
      <th scope="col">Quantite</th>
      <th scope="col">Prix</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of registartions | search :selectedPartner">
      <th scope="row">{{article?.id}}</th>
      <td scope="row">{{article?.nomArticle}}</td>
      <td scope="row">{{article?.descriptionArticle}}</td>
      <td scope="row">{{article?.quantityArticle}}</td>
      <td scope="row">{{article?.prixArticle}}</td>
      <td>
        <button type="button" [routerLink]="['/updateArticle',article?.id]" class="btn btn-info">Update</button>
        <button class="btn btn-danger" (click)="onDelete(article?.id)">Suprimer</button>
      </td>
    </tr>
  </tbody>
</table>
</form>
