<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Name</th>
      <th scope="col">Discription</th>
      <th scope="col">Quantite</th>
      <th scope="col">prix</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of registartions ;let i=index ">
      <td scope="row">{{i+1}}</td>
      <td scope="row">{{article.nomArticle}}</td>
      <td scope="row">{{article.descriptionArticle}}</td>
      <td scope="row">{{article.quantityArticle}}</td>
      <td scope="row">{{article.prixArticle}}</td>
      <td>
        <button [routerLink]="['/updateArticle',i]" class="btn btn-info">Update</button>
        <button class="btn btn-danger" (click)="onDelete(i)">Suprimer</button>
      </td>
    </tr>
  </tbody>
  </table>
